sap/BD_NW_7.0_Presentation_7.40_Comp._1_/PRES1/BI_PreCalServer/Setup/ProductLocales.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT SapSetup (String*)+>
<!ATTLIST SapSetup
	Context (Init | Server | Workstation | Patch | Locale) #REQUIRED
	DatabaseVersion CDATA #IMPLIED
	Version CDATA #IMPLIED
>
<!ELEMENT String (En+ | De*)+>
<!ATTLIST String
	Name CDATA #REQUIRED
>
<!ELEMENT En (#PCDATA)>
<!ELEMENT De (#PCDATA)>
