sap/BD_NW_7.0_Presentation_7.40_Comp._1_/PRES1/BI_PreCalServer/Setup/ProductVars.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT SapSetup (Variable*)+>
<!ATTLIST SapSetup
	Context (Init | Server | Workstation | Patch | Variables) #REQUIRED
	Version CDATA #IMPLIED
>
<!ELEMENT Variable (Value+)+>
<!ATTLIST Variable
	Name CDATA #REQUIRED
	Persistent (TRUE | FALSE) #IMPLIED
	ConnectedId CDATA #IMPLIED
	Description CDATA #IMPLIED
	DisplayInSapAdmin (TRUE | FALSE) #IMPLIED
>
<!ELEMENT Value (#PCDATA)>
<!ATTLIST Value
	Script (TRUE | FALSE) #IMPLIED
>
